<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.UserInfoMapper">
<!--    根据用户编号查询用户信息-->
    <select id="findUserInfoById" parameterType="int" resultType="UserInfo" useCache="true">
        select * from user_info where id = #{id}
    </select>
<!--    根据用户名模糊查询用户-->
    <select id="findUserInfoByUserName" parameterType="String" resultType="UserInfo">
        select * from user_info where userName like CONCAT(CONCAT('%', #{userName}), '%')
    </select>
<!--    添加用户-->
    <insert id="addUserInfo" parameterType="UserInfo">
        insert into
        user_info(userName,password) values (#{userName}, #{password})
    </insert>
<!--    修改用户信息-->
    <update id="updateUserInfo" parameterType="UserInfo">
        update user_info set
        userName=#{userName}, password=#{password} where id=#{id}
    </update>
<!--    根据用户编号删除用户-->
    <delete id="deleteUserInfo" parameterType="int">
        delete from user_info
        where id=#{id}
    </delete>

    <cache eviction="LRU" flushInterval="30000" size="512" readOnly="true" />
</mapper>
