<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--    &lt;!&ndash;    配置处理器Handle，映射为"/hello"请求&ndash;&gt;-->
<!--    <bean name="/hello" class="com.springmvc.controller.HelloController"/>-->
<!--    &lt;!&ndash;    配置视图解析器，将控制器方法返回的逻辑视图解析为物理视图&ndash;&gt;-->
<!--    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"></bean>-->
    <!--    配置自动扫描的包-->
    <context:component-scan base-package="com.springmvc" />
    <mvc:annotation-driven />
    <!--    配置视图解析器，将控制器方法返回的逻辑视图解析为物理视图-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/ch06/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>